:root{
    --main-btn-color:#E00040;
    --main-bg-color:#040D18;
    --input-bg-color:#223A51;
    --placeholder-color:#546A7F;
}
body{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 10px;
}
.logo{
    background: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.main-btn{
    cursor: pointer;
    border: 1px solid var(--main-btn-color);
    border-radius: 30px;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    background-color: var(--main-btn-color);
}
.nav-btn{
    cursor: pointer;
    color: white;
    background-color: var(--main-bg-color);
    border:none;
    font-size: 16px;
}
.navbar{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navbar-top{
    display:flex;
    justify-content: space-between;
}
.content-nav{
    display: flex;
    gap: 10px;
    align-items: center;
    h2{
        margin: 0;
    }
}
.limit-container > select{
    width: 100px;
    height: 40px;
    border:1px solid var(--input-bg-color);
    border-radius: 10px;
    background-color: var(--input-bg-color);
    color: white;
    padding: 5px;
    option:hover{
        background-color: #E00040;
    }
}
.search-section{
    position: relative;
    box-sizing: border-box;
    display: flex;
    margin: 10px 0 10px 0;
    input,select{
        height: 40px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--input-bg-color);
        color: white;
        border: 1px solid black;
        outline: none;
    }
    select{
        border-radius: 10px 0 0 10px;
        max-width: 200px;
    }
    input{
        border-radius: 0 10px 10px 0;
    }
    input::placeholder{
        color: var(--placeholder-color);
        text-decoration: underline;
    }
    input:focus::placeholder{
        color:transparent;
    }
}
.film-list-wrapper{
    display: grid;
    justify-content: center;
}
.limit-container{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.movie-card{
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: end;
    border-radius: 10px;
    overflow: hidden;
    h2{
        max-width: 300px;
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
}
.user-info-container{
    position: relative;
}
.user-bar{
    width: 125px;
    text-align: center;
    position: absolute;
    z-index: 100;
    background-color: var(--main-bg-color);
    /* box-shadow: 0 0 10px 10px var(--main-btn-color); */
    color: white;
    top: 60px;
    right: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-btn-color);
    border-radius: 10px;
    div:first-child{
        border-radius: 7px 7px 0 0;
    }
    div:last-child{
        border-radius: 0 0 7px 7px;
    }
    div{
        font-size: 16px;
        font-weight: 500;
        height: 60px;
        display: grid;
        grid-template-columns: 20px 1fr;
        padding-left: 10px;
        align-items: center;
        justify-content: center;
    }
    div:hover{
        border-color: var(--main-btn-color);
        background-color: var(--main-btn-color);
        color: white;
    }
}
.user-btn{
    background-color: var(--main-btn-color);
    color: white;
    border:1px solid var(--main-btn-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.card-bottom{
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(128, 128, 128,0.1);
    backdrop-filter: blur(10px);
}
/* .movie-card:hover .card-bottom{
    opacity: 1;
} */
.wrapper-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
    background-image: var(--image-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.film-list-wrapper{
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 10px;
}


.pagination{
    color: white;
    display: flex;
    margin-bottom:10px;
    justify-content: end;
    align-items: center;
    gap: 10px;
    svg{
        cursor: pointer;
        width: 30px;
        height: 30px;
        fill: white;
    }
    h3{
        margin: 0;
    }
}
.isLiked{
   svg{
    fill: var(--main-btn-color);
   }
}